  .navbar{
      box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  }
  .menu_option {
    margin-left: 5%;
    padding-top: 2%;
    text-decoration: none;
    font-size: 15px;
    color: #737373;
    font-weight: 500;
    font-family: 'Rubik';
  }

  .menu_option:hover {
    color: tomato;
    border-bottom: 3px solid tomato;
    border-radius: 2px;
    padding-bottom: 20px;
  }

  .active {
    border-bottom: 3.5px solid tomato;
    border-radius: 1.2px;
    padding-bottom: 20px;
  }

  .register {
    font-weight: 700;
  }
  .login{
    padding-right:13px;
    padding-left:13px;
    font-size:15px;
    background:#fa0644;
  }
